.xlc-header .xlc-header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
}

@font-face {
  font-family: "Aller";
  src: url("../font/Aller_Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url("../font/Aller_BdIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url("../font/Aller_It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url("../font/Aller_Lt.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url("../font/Aller_LtIt.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url("../font/Aller_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*#region Resetear estilos*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Aller";
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*#endregion Resetear estilos*/
:root {
  --xlc-white: #FFFFFFFF;
  --xlc-black: #33333333;
  --xlc-gray: #969696;
  --xlc-beige: #DED2B6;
  --xlc-d-beige: #6F695B;
  --xlc-orange: #F69C03;
  --xlc-lateral-space: 8.875rem;
}

/* #region Fondos para las secciones */
.xlc-bg-w-img {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/index/shifaaz-shamoon-okVXy9tG3KY-unsplash.png");
}

.xlc-bg-multiply-blend {
  background-color: var(--xlc-beige);
  background-blend-mode: multiply;
}

.xlc-bg-w-color {
  background-color: var(--xlc-beige);
}

/* #endregion Fondos para las secciones */
.xlc-header {
  width: 100%;
  height: 13.25rem;
  padding: 0 8.875rem;
  position: fixed;
  background-image: linear-gradient(to bottom, rgba(31, 26, 15, 0.67) 0%, rgba(31, 26, 15, 0.661) 0.8%, rgba(31, 26, 15, 0.637) 2.9%, rgba(31, 26, 15, 0.6) 6.4%, rgba(31, 26, 15, 0.552) 11%, rgba(31, 26, 15, 0.496) 16.6%, rgba(31, 26, 15, 0.434) 23.1%, rgba(31, 26, 15, 0.368) 30.4%, rgba(31, 26, 15, 0.302) 38.3%, rgba(31, 26, 15, 0.236) 46.7%, rgba(31, 26, 15, 0.174) 55.4%, rgba(31, 26, 15, 0.118) 64.4%, rgba(31, 26, 15, 0.07) 73.5%, rgba(31, 26, 15, 0.033) 82.5%, rgba(31, 26, 15, 0.009) 91.4%, rgba(31, 26, 15, 0) 100%);
}
.xlc-header .xlc-header-container {
  position: relative;
  z-index: 2;
  padding: 1.625rem 0;
  grid-template-areas: "logo logo empty empty menu1 menu1 menu1 menu1 menu2 menu2 menu2 shop";
  align-items: center;
}
.xlc-header .xlc-header-logo {
  grid-area: logo;
}
.xlc-header .xlc-header-logo a {
  display: inline-block;
}
.xlc-header .xlc-header-menu2, .xlc-header .xlc-header-menu1 {
  display: flex;
  font-size: 1.375rem;
  font-weight: lighter;
  width: 100%;
  flex-wrap: wrap;
}
.xlc-header .xlc-header-menu2 li, .xlc-header .xlc-header-menu1 li {
  margin-right: 1.875rem;
}
.xlc-header .xlc-header-menu2 li:last-of-type, .xlc-header .xlc-header-menu1 li:last-of-type {
  margin-right: 0;
}
.xlc-header .xlc-header-menu1 {
  grid-area: menu1;
}
.xlc-header .xlc-header-menu1 a {
  color: var(--xlc-white);
}
.xlc-header .xlc-header-menu2 {
  grid-area: menu2;
}
.xlc-header .xlc-header-menu2 a {
  color: var(--xlc-orange);
}
.xlc-header .xlc-header-shop {
  grid-area: shop;
}

.slideUp {
  -webkit-transform: translateY(-160px);
  transform: translate(0%, -160px);
  transition: transform 0.5s ease-out;
}

.slideDown {
  -webkit-transform: translateY(0);
  transform: translate(0%, 0);
  transition: transform 0.5s ease-out;
}

.xlc-section {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: block;
  padding: 0 var(--xlc-lateral-space);
}

/*# sourceMappingURL=style.css.map */
