:root {
  --xlc-white: #FFFFFF;
  --xlc-black: #333333;
  --xlc-gray: #969696;
  --xlc-beige: #DED2B6;
  --xlc-orange: #F69C03;
  --xlc-xs-font-size: 1.125rem;
  --xlc-s-font-size: 1.375rem;
  --xlc-m-font-size: 2.5rem;
  --xlc-l-font-size: 3.813rem;
  --xlc-xl-font-size: 6.25rem;
  --xlc-headings-line-height: 80px;
  --xlc-subtitles-line-height: 30px;
  --xlc-paragraph-line-height: 24px;
  --xlc-card-description-line-height: 28px;
  --xlc-grid-gap: 2rem;
  --xlc-grid-lateral-space: 8.875rem;
  --xlc-section-top-padding: 4.375rem;
  --xlc-header-height: 13.25rem;
  --xlc-project-padding: 3.4rem;
  --xlc-transition-projects-interval: 0.2s ease-in;
}

@font-face {
  font-family: "Aller";
  src: url(../font/Aller_Bd.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url(../font/Aller_BdIt.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url(../font/Aller_It.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url(../font/Aller_Lt.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url(../font/Aller_LtIt.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url(../font/Aller_Rg.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.xlc-title {
  font-size: var(--xlc-l-font-size);
  line-height: var(--xlc-headings-line-height);
}

.xlc-subtitle {
  font-size: var(--xlc-s-font-size);
  line-height: var(--xlc-subtitles-line-height);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Aller";
  color: var(--xlc-black);
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

.xlc-orange-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4375rem;
  font-size: var(--xlc-xs-font-size);
  font-weight: bold;
  line-height: var(--xlc-paragraph-line-height);
  color: var(--xlc-white);
  background-color: var(--xlc-orange);
}

.xlc-enum-card .xlc-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: 1.625rem;
  color: var(--xlc-beige);
  font-weight: bold;
  font-size: var(--xlc-xs-font-size);
  background-color: var(--xlc-black);
  border-radius: 50%;
}
.xlc-enum-card .xlc-title-card {
  margin-bottom: 1rem;
  font-size: var(--xlc-m-font-size);
}
.xlc-enum-card .xlc-description-card {
  margin-bottom: 3.75rem;
  font-size: var(--xlc-xs-font-size);
  font-weight: lighter;
  line-height: var(--xlc-paragraph-line-height);
}

.xlc-img-card .xlc-img {
  position: relative;
}
.xlc-img-card .xlc-img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: var(--xlc-beige);
  mix-blend-mode: color;
}
.xlc-img-card .xlc-img img {
  opacity: 0.33;
}
.xlc-img-card .xlc-caption {
  font-size: var(--xlc-xs-font-size);
}

.xlc-projects-list {
  display: flex;
  flex-wrap: wrap;
}
.xlc-projects-list .xlc-project {
  width: 33.33%;
  height: 28.125rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--xlc-project-padding);
  cursor: pointer;
}
.xlc-projects-list .xlc-project .xlc-project-title {
  position: relative;
  z-index: 2;
  padding-bottom: 0.3rem;
  font-size: 1.875rem;
  color: var(--xlc-white);
  line-height: var(--xlc-paragraph-line-height);
  transition: all 0.2s ease-in;
}
.xlc-projects-list .xlc-project .xlc-project-description {
  position: relative;
  z-index: 2;
  max-height: 0;
  font-size: var(--xlc-xs-font-size);
  color: var(--xlc-white);
  line-height: var(--xlc-paragraph-line-height);
  overflow: hidden;
  transition: all var(--xlc-transition-projects-interval);
}
.xlc-projects-list .xlc-project .xlc-project-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.xlc-projects-list .xlc-project .xlc-project-img::before {
  content: "";
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-image: linear-gradient(to top, rgba(117, 117, 117, 0.88) 0%, rgba(117, 117, 117, 0.869) 8.6%, rgba(117, 117, 117, 0.837) 17.5%, rgba(117, 117, 117, 0.788) 26.5%, rgba(117, 117, 117, 0.726) 35.6%, rgba(117, 117, 117, 0.652) 44.6%, rgba(117, 117, 117, 0.57) 53.3%, rgba(117, 117, 117, 0.484) 61.7%, rgba(117, 117, 117, 0.396) 69.6%, rgba(117, 117, 117, 0.31) 76.9%, rgba(117, 117, 117, 0.228) 83.4%, rgba(117, 117, 117, 0.154) 89%, rgba(117, 117, 117, 0.092) 93.6%, rgba(117, 117, 117, 0.043) 97.1%, rgba(117, 117, 117, 0.011) 99.2%, rgba(117, 117, 117, 0) 100%);
  mix-blend-mode: multiply;
}
.xlc-projects-list .xlc-project .xlc-project-img::after {
  content: "";
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: var(--xlc-beige);
  mix-blend-mode: color;
  transition: all, var(--xlc-transition-projects-interval);
}
.xlc-projects-list .xlc-project .xlc-project-img img {
  position: relative;
  z-index: 2;
  opacity: 0.32;
  height: 100%;
  transition: all, var(--xlc-transition-projects-interval);
}
.xlc-projects-list .xlc-project:hover .xlc-project-title {
  color: var(--xlc-orange);
}
.xlc-projects-list .xlc-project:hover .xlc-project-description {
  max-height: 100%;
}
.xlc-projects-list .xlc-project:hover .xlc-project-img::after {
  background-color: transparent;
}
.xlc-projects-list .xlc-project:hover .xlc-project-img img {
  opacity: 1;
}
.xlc-projects-list .xlc-all-project {
  width: 33.33%;
  height: 28.125rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--xlc-project-padding);
  cursor: pointer;
}
.xlc-projects-list .xlc-all-project .xlc-project-title {
  position: relative;
  z-index: 2;
  margin-bottom: 0.5rem;
  font-size: 1.875rem;
  color: var(--xlc-orange);
  line-height: var(--xlc-paragraph-line-height);
  transition: all 0.2s ease-in;
}
.xlc-projects-list .xlc-all-project .xlc-project-description {
  position: relative;
  z-index: 2;
  font-size: var(--xlc-xs-font-size);
  color: var(--xlc-white);
  line-height: var(--xlc-paragraph-line-height);
  overflow: hidden;
  transition: all var(--xlc-transition-projects-interval);
}
.xlc-projects-list .xlc-all-project .xlc-project-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.xlc-projects-list .xlc-all-project .xlc-project-img::before {
  content: "";
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-image: linear-gradient(to top, rgba(117, 117, 117, 0.88) 0%, rgba(117, 117, 117, 0.869) 8.6%, rgba(117, 117, 117, 0.837) 17.5%, rgba(117, 117, 117, 0.788) 26.5%, rgba(117, 117, 117, 0.726) 35.6%, rgba(117, 117, 117, 0.652) 44.6%, rgba(117, 117, 117, 0.57) 53.3%, rgba(117, 117, 117, 0.484) 61.7%, rgba(117, 117, 117, 0.396) 69.6%, rgba(117, 117, 117, 0.31) 76.9%, rgba(117, 117, 117, 0.228) 83.4%, rgba(117, 117, 117, 0.154) 89%, rgba(117, 117, 117, 0.092) 93.6%, rgba(117, 117, 117, 0.043) 97.1%, rgba(117, 117, 117, 0.011) 99.2%, rgba(117, 117, 117, 0) 100%);
  mix-blend-mode: multiply;
}
.xlc-projects-list .xlc-all-project .xlc-project-img img {
  position: relative;
  z-index: 2;
  opacity: 1;
  height: 100%;
}

.xlc-container {
  padding: var(--xlc-section-top-padding) var(--xlc-grid-lateral-space) 0;
  background-color: var(--xlc-beige);
}
.xlc-container > .xlc-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--xlc-grid-gap);
  align-items: start;
  justify-items: start;
}

.xlc-section-vp {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.xlc-init-section {
  padding-top: var(--xlc-header-height);
  display: flex;
  align-items: center;
}
.xlc-init-section .xlc-grid {
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title . . newsletter newsletter newsletter newsletter ." "subtitle subtitle subtitle subtitle subtitle subtitle . newsletter newsletter newsletter newsletter .";
}
.xlc-init-section .xlc-grid .xlc-title {
  grid-area: title;
  color: var(--xlc-white);
}
.xlc-init-section .xlc-grid .xlc-subtitle {
  grid-area: subtitle;
  color: var(--xlc-white);
}
.xlc-init-section .xlc-grid div {
  grid-area: newsletter;
}

.xlc-nosotros-section .xlc-grid {
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title title . . . . . ." "card1 card1 card1 card1 card2 card2 card2 card2 card3 card3 card3 card3" ". . . . . . . . btn btn btn .";
}
.xlc-nosotros-section .xlc-grid .xlc-title {
  grid-area: title;
  margin-bottom: 13rem;
}
.xlc-nosotros-section .xlc-grid .xlc-enum-card:nth-of-type(1) {
  grid-area: card1;
}
.xlc-nosotros-section .xlc-grid .xlc-enum-card:nth-of-type(2) {
  grid-area: card2;
}
.xlc-nosotros-section .xlc-grid .xlc-enum-card:nth-of-type(3) {
  grid-area: card3;
}
.xlc-nosotros-section .xlc-grid .xlc-orange-btn {
  grid-area: btn;
  justify-self: stretch;
}

.xlc-colabora-section .xlc-grid {
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "title title title title img1 img1 img1 img1 img2 img2 img2 img2" "description description description description img1 img1 img1 img1 img2 img2 img2 img2" "btn btn btn . img1 img1 img1 img1 img2 img2 img2 img2";
}
.xlc-colabora-section .xlc-grid .xlc-title {
  grid-area: title;
  font-size: var(--xlc-xl-font-size);
  line-height: 133px;
}
.xlc-colabora-section .xlc-grid .xlc-subtitle {
  grid-area: description;
  margin-bottom: 2.375rem;
}
.xlc-colabora-section .xlc-grid .xlc-orange-btn {
  grid-area: btn;
}
.xlc-colabora-section .xlc-grid .xlc-img-card:nth-of-type(1) {
  grid-area: img1;
}
.xlc-colabora-section .xlc-grid .xlc-img-card:nth-of-type(2) {
  grid-area: img2;
}

.xlc-proyectos-section .xlc-grid {
  margin-bottom: 5.5rem;
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title title" "description description description description description description";
}
.xlc-proyectos-section .xlc-grid .xlc-title {
  grid-area: title;
}
.xlc-proyectos-section .xlc-grid .xlc-subtitle {
  grid-area: description;
}
.xlc-proyectos-section .xlc-projects-list {
  margin: 0 calc(0px - var(--xlc-grid-lateral-space));
}

.xlc-header {
  position: fixed;
  width: 100%;
  height: var(--xlc-header-height);
  padding-top: 0;
  z-index: 4;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(31, 26, 15, 0.67) 0%, rgba(31, 26, 15, 0.661) 0.8%, rgba(31, 26, 15, 0.637) 2.9%, rgba(31, 26, 15, 0.6) 6.4%, rgba(31, 26, 15, 0.552) 11%, rgba(31, 26, 15, 0.496) 16.6%, rgba(31, 26, 15, 0.434) 23.1%, rgba(31, 26, 15, 0.368) 30.4%, rgba(31, 26, 15, 0.302) 38.3%, rgba(31, 26, 15, 0.236) 46.7%, rgba(31, 26, 15, 0.174) 55.4%, rgba(31, 26, 15, 0.118) 64.4%, rgba(31, 26, 15, 0.07) 73.5%, rgba(31, 26, 15, 0.033) 82.5%, rgba(31, 26, 15, 0.009) 91.4%, rgba(31, 26, 15, 0) 100%);
}
.xlc-header .xlc-grid {
  position: relative;
  z-index: 3;
  margin-top: 1.5rem;
  align-items: center;
  grid-template-areas: "logo logo . . menu1 menu1 menu1 menu1 menu2 menu2 menu2 shop";
}
.xlc-header .xlc-grid .xlc-header-logo {
  grid-area: logo;
}
.xlc-header .xlc-grid .xlc-header-menu1, .xlc-header .xlc-grid .xlc-header-menu2 {
  display: flex;
}
.xlc-header .xlc-grid .xlc-header-menu1 li, .xlc-header .xlc-grid .xlc-header-menu2 li {
  margin-right: 1rem;
  font-size: var(--xlc-s-font-size);
}
.xlc-header .xlc-grid .xlc-header-menu1 li:last-of-type, .xlc-header .xlc-grid .xlc-header-menu2 li:last-of-type {
  margin: 0;
}
.xlc-header .xlc-grid .xlc-header-menu1 {
  grid-area: menu1;
}
.xlc-header .xlc-grid .xlc-header-menu1 li a {
  color: var(--xlc-white);
}
.xlc-header .xlc-grid .xlc-header-menu2 {
  grid-area: menu2;
}
.xlc-header .xlc-grid .xlc-header-menu2 li a {
  color: var(--xlc-orange);
}
.xlc-header .xlc-grid .xlc-header-shop {
  grid-area: shop;
}

.slideUp {
  -webkit-transform: translateY(calc(0px - var(--xlc-header-height)));
  transform: translate(0%, calc(0px - var(--xlc-header-height)));
  transition: transform 0.5s ease-out;
}

.slideDown {
  -webkit-transform: translateY(0);
  transform: translate(0%, 0);
  transition: transform 0.5s ease-out;
}

/*# sourceMappingURL=style.css.map */
