$xlc-colors: (
    white:      #FFFFFFFF,
    black:      #33333333,
    gray:       #969696,
    beige:      #DED2B6,
    d-beige:    #6F695B,
    orange:     #F69C03
);

$xlc-lateral-space: 8.875rem; // 142px = 8.875 * 16px (que es el font-size del body)

$xlc-header-height: 13.25rem; // 212px = 13.25 * 16px

$xlc-font-names: (  // weight, normal o italic, nombre del archivo
    (bold, normal, Bd),
    (bold, italic, BdIt),
    (normal, italic, It),
    (100, normal, Lt),
    (100, italic, LtIt),
    (normal, normal, Rg)
);

// crear el grid con 12 columnas para usarlo @extend %def-grid-12
%def-grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
}
