@use '../abstracts' as *;

.xlc-section-vp {
    width: 100vw;
    height: 100vh;
    max-width:100%;
    display: block;
    padding: $xlc-padding-top-section var(--xlc-lateral-space) 0;
}

.xlc-content-text {
    font-size: $xlc-s-font;
    line-height: 1.364;
}

.xlc-content-title {
    font-size: $xlc-l-font;
    line-height: 1.333;
}

.xlc-content-col {
    @extend %def-grid-12;
}

.xlc-section-start {
    background-image: url('../../img/index/shifaaz-shamoon-okVXy9tG3KY-unsplash.png');

    padding-top: $xlc-header-height;
    display: flex;
    align-items: center;

    .xlc-content-col {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "title  title   title   title   title   .       .   newsletter  newsletter  newsletter  newsletter  ."
            "text   text    text    text    text    text    .   newsletter  newsletter  newsletter  newsletter  .";
        

        .xlc-content-text {
            grid-area: text;
            color: var(--xlc-white);
            
        }

        .xlc-content-title {
            grid-area: title;
            color: var(--xlc-white);
        }

        .xlc-content-newsletter {
            grid-area: newsletter;
        }
    }
}

.xlc-section-presentation {
    &::after {
        background-image: url('../../img/index/veronika-hradilova-aK9QuJb3xZg-unsplash.png');
    }
    
    .xlc-content-col {
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "title title title title title title .     .     .     .     .     ."
            "card1 card1 card1 card1 card2 card2 card2 card2 card3 card3 card3 card3"
            ".     .     .     .     .     .     .     .     btn   btn    btn  .";
    }

    .xlc-card-somos {
        margin-bottom: 4.8125rem;
        
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.625rem;

            background-color: var(--xlc-black);
            width: 2.75rem;
            height: 2.75rem;
            border-radius: 50%;

            color: var(--xlc-beige);
            font-size: $xlc-xs-font;
            font-weight: bold;
        }

        h3 {
            margin-bottom: .875rem;
            font-size: 2.5rem;
        }

        p {
            font-size: $xlc-xs-font;
            font-weight: 300;
            line-height: 1.333;
        }
    }

    a {
        grid-area: btn;
    }
}

.xlc-section-colabora {
    .xlc-content-col {
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "content content content content photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2"
            "btn     btn     btn     .       photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2"
            ".       .       .       .       alt1   alt1   alt1   .      alt2   alt2   alt2   .";

        div {
            grid-area: content;
            margin-bottom: 2.375rem;

            h2 {
                font-size: $xlc-xl-font;
            }

            p {
                line-height: 1.875;
            }
        }

        .xlc-btn {
            grid-area: btn;
        }
    }
}