// la web usa un grid de 12 columnas, 142px de margen y 32px de espacio entre columnas

.xlc-container {
    padding: 0 var(--xlc-grid-lateral-space) 0;

    & > .xlc-grid {
        position: relative;
        z-index: 1;
        padding-top: var(--xlc-section-top-padding);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--xlc-grid-gap);
        align-items: start;
        align-content: start;
    }
}