// otras variables

// Sections
$xlc-section-top-padding: 4.375rem; // 70px

// Grid
$xlc-grid-lateral-space: 8.875rem; // 142px
$xlc-grid-gap: 2rem; // 32px

// Header
$xlc-header-height: 8rem; // 212px -> 13.25rem; 100px -> 6.25rem

// Projects
$xlc-project-padding: 3.4rem; // 60px

// Transitions
$xlc-transition-projects-interval: .2s ease-in;

