// otras variables

// Sections
$xlc-section-top-padding: 4.375rem; // 70px

// Grid
$xlc-grid-lateral-space: 8.875rem; // 142px
$xlc-grid-gap: 2rem; // 32px

// Header
$xlc-header-height: 13.25rem; // 212px

