// los diferentes objetos que están compuestos por más elementos

.xlc-enum-card {
    .xlc-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: 1.625rem;

        color: var(--xlc-beige);
        font-weight: bold;
        font-size: var(--xlc-xs-font-size);

        background-color: var(--xlc-black);
        border-radius: 50%; 
    }

    .xlc-title-card {
        margin-bottom: 1rem;
        font-size: var(--xlc-m-font-size);
    }

    .xlc-description-card {
        margin-bottom: 3.75rem;

        font-size: var(--xlc-xs-font-size);
        font-weight: lighter;
        line-height: var(--xlc-paragraph-line-height);
    }
}

.xlc-img-card {

    .xlc-img {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;

            background-color: var(--xlc-beige);
            mix-blend-mode: color;
        }
        
        img {
            opacity: .33;
        }
    }

    .xlc-caption {
        font-size: var(--xlc-xs-font-size);
    }
}

