// todas las variables que se encuentran en la carpeta abstract

@use '../abstract' as *;

:root {

    // Los colores
    @each $color, $value in $xlc-colors {
        --xlc-#{"" + $color}: #{$value};
    }

    // Los tamaños de fuente
    @each $size, $value in $xlc-font-sizes {
        --xlc-#{$size}-font-size: #{$value};
    }

    // Alturas de la linea
    @each $name, $value in $xlc-line-heights {
        --xlc-#{$name}-line-height: #{$value};
    }

    // Más variables
    --xlc-grid-gap: #{$xlc-grid-gap};
    --xlc-grid-lateral-space: #{$xlc-grid-lateral-space};
    
    --xlc-section-top-padding: #{$xlc-section-top-padding};

    --xlc-header-height: #{$xlc-header-height};

    --xlc-project-padding: #{$xlc-project-padding};

    --xlc-transition-projects-interval: #{$xlc-transition-projects-interval};
}

@media (max-width: 576px) {
    :root {
        @each $size, $value in $xlc-responsive-font-sizes {
            --xlc-#{$size}-font-size: #{$value};
        }

        @each $name, $value in $xlc-responsive-line-heights {
            --xlc-#{$name}-line-height: #{$value};
        }

        --xlc-grid-gap: #{$xlc-responsive-grid-gap};
        --xlc-grid-lateral-space: #{$xlc-responsive-grid-lateral-space};
    }
}