/* #region Fondos para las secciones */

.xlc-bg-w-img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../img/index/shifaaz-shamoon-okVXy9tG3KY-unsplash.png');
}

.xlc-bg-multiply-blend {
    background-color: var(--xlc-beige);
    background-blend-mode: multiply;
}

.xlc-bg-w-color {
    background-color: var(--xlc-beige);
}


/* #endregion Fondos para las secciones */