/* #region Fondos para las secciones */

.xlc-bg-w-img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.xlc-bg-multiply-blend {
    background-color: var(--xlc-beige);
    background-blend-mode: multiply;
}

.xlc-bg-w-color {
    background-color: var(--xlc-beige);
}

.xlc-bg-opacity {
    position: relative;

    &::before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -2;
        background-color: var(--xlc-beige);
        background-blend-mode: color;
    }

    &::after {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        content: "";
        opacity: 0.32;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}

// ponerle un filtro a las imagenes con 33% opacidad y capa de beige con blend mode: color
.xlc-bg-color {
    opacity: 33%;
    
}


/* #endregion Fondos para las secciones */