:root {
  --xlc-white: #FFFFFF;
  --xlc-black: #333333;
  --xlc-gray: #969696;
  --xlc-beige: #DED2B6;
  --xlc-orange: #F69C03;
  --xlc-xs-font-size: 1.125rem;
  --xlc-s-font-size: 1.375rem;
  --xlc-m-font-size: 2.5rem;
  --xlc-l-font-size: 3.813rem;
  --xlc-xl-font-size: 6.25rem;
  --xlc-headings-line-height: 80px;
  --xlc-subtitles-line-height: 30px;
  --xlc-paragraph-line-height: 24px;
  --xlc-card-description-line-height: 28px;
  --xlc-grid-gap: 2rem;
  --xlc-grid-lateral-space: 8.875rem;
  --xlc-section-top-padding: 4.375rem;
  --xlc-header-height: 8rem;
  --xlc-project-padding: 3.4rem;
  --xlc-transition-projects-interval: 0.2s ease-in;
}

@font-face {
  font-family: "Aller";
  src: url(../font/Aller_Bd.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url(../font/Aller_BdIt.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url(../font/Aller_It.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url(../font/Aller_Lt.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url(../font/Aller_LtIt.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url(../font/Aller_Rg.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.xlc-title {
  font-size: var(--xlc-l-font-size);
  line-height: var(--xlc-headings-line-height);
}

.xlc-subtitle {
  font-size: var(--xlc-s-font-size);
  line-height: var(--xlc-subtitles-line-height);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Aller";
  color: var(--xlc-black);
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--xlc-black);
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

.xlc-orange-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4375rem;
  font-size: var(--xlc-xs-font-size);
  font-weight: bold;
  line-height: var(--xlc-paragraph-line-height);
  color: var(--xlc-white);
  background-color: var(--xlc-orange);
}

.xlc-enum-card .xlc-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: 1.625rem;
  color: var(--xlc-beige);
  font-weight: bold;
  font-size: var(--xlc-xs-font-size);
  background-color: var(--xlc-black);
  border-radius: 50%;
}
.xlc-enum-card .xlc-title-card {
  margin-bottom: 1rem;
  font-size: var(--xlc-m-font-size);
}
.xlc-enum-card .xlc-description-card {
  margin-bottom: 3.75rem;
  font-size: var(--xlc-xs-font-size);
  line-height: var(--xlc-paragraph-line-height);
}

.xlc-img-card .xlc-img, .xlc-img-card .xlc-member-img {
  position: relative;
}
.xlc-img-card .xlc-img::before, .xlc-img-card .xlc-member-img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: var(--xlc-beige);
  mix-blend-mode: color;
  transition: all 0.2s ease-in-out;
}
.xlc-img-card .xlc-img img, .xlc-img-card .xlc-member-img img {
  opacity: 0.33;
  transition: all 0.2s ease-in-out;
}
.xlc-img-card .xlc-caption {
  font-size: var(--xlc-xs-font-size);
}
.xlc-img-card .xlc-member-img:hover::before {
  background-color: transparent;
}
.xlc-img-card .xlc-member-img:hover img {
  opacity: 1;
}
.xlc-img-card .xlc-member-name, .xlc-img-card .xlc-member-occupation, .xlc-img-card .xlc-member-description {
  font-size: var(--xlc-xs-font-size);
  line-height: var(--xlc-paragraph-line-height);
}
.xlc-img-card .xlc-member-name {
  padding-top: 1rem;
  font-weight: bold;
}
.xlc-img-card .xlc-member-description {
  width: calc(2/3 * 100%);
}

.xlc-projects-list {
  display: flex;
  flex-wrap: wrap;
}
.xlc-projects-list .xlc-project {
  width: 33.33%;
  height: 28.125rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--xlc-project-padding);
  cursor: pointer;
}
.xlc-projects-list .xlc-project .xlc-project-title {
  position: relative;
  z-index: 2;
  padding-bottom: 0.3rem;
  font-size: 1.875rem;
  color: var(--xlc-white);
  line-height: var(--xlc-paragraph-line-height);
  transition: all 0.2s ease-in;
}
.xlc-projects-list .xlc-project .xlc-project-description {
  position: relative;
  z-index: 2;
  max-height: 0;
  font-size: var(--xlc-xs-font-size);
  color: var(--xlc-white);
  line-height: var(--xlc-paragraph-line-height);
  overflow: hidden;
  transition: all var(--xlc-transition-projects-interval);
}
.xlc-projects-list .xlc-project .xlc-project-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.xlc-projects-list .xlc-project .xlc-project-img::before {
  content: "";
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-image: linear-gradient(to top, rgba(117, 117, 117, 0.88) 0%, rgba(117, 117, 117, 0.869) 8.6%, rgba(117, 117, 117, 0.837) 17.5%, rgba(117, 117, 117, 0.788) 26.5%, rgba(117, 117, 117, 0.726) 35.6%, rgba(117, 117, 117, 0.652) 44.6%, rgba(117, 117, 117, 0.57) 53.3%, rgba(117, 117, 117, 0.484) 61.7%, rgba(117, 117, 117, 0.396) 69.6%, rgba(117, 117, 117, 0.31) 76.9%, rgba(117, 117, 117, 0.228) 83.4%, rgba(117, 117, 117, 0.154) 89%, rgba(117, 117, 117, 0.092) 93.6%, rgba(117, 117, 117, 0.043) 97.1%, rgba(117, 117, 117, 0.011) 99.2%, rgba(117, 117, 117, 0) 100%);
  mix-blend-mode: multiply;
}
.xlc-projects-list .xlc-project .xlc-project-img::after {
  content: "";
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: var(--xlc-beige);
  transition: all, var(--xlc-transition-projects-interval);
}
.xlc-projects-list .xlc-project .xlc-project-img img {
  position: relative;
  z-index: 2;
  opacity: 0.32;
  height: 100%;
  mix-blend-mode: luminosity;
  transition: all, var(--xlc-transition-projects-interval);
}
.xlc-projects-list .xlc-project:hover .xlc-project-title {
  color: var(--xlc-orange);
}
.xlc-projects-list .xlc-project:hover .xlc-project-description {
  max-height: 100%;
}
.xlc-projects-list .xlc-project:hover .xlc-project-img::after {
  background-color: transparent;
}
.xlc-projects-list .xlc-project:hover .xlc-project-img img {
  opacity: 1;
}
.xlc-projects-list .xlc-all-project {
  width: 33.33%;
  height: 28.125rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--xlc-project-padding);
  cursor: pointer;
}
.xlc-projects-list .xlc-all-project .xlc-project-title {
  position: relative;
  z-index: 2;
  margin-bottom: 0.5rem;
  font-size: 1.875rem;
  color: var(--xlc-orange);
  line-height: var(--xlc-paragraph-line-height);
  transition: all 0.2s ease-in;
}
.xlc-projects-list .xlc-all-project .xlc-project-description {
  position: relative;
  z-index: 2;
  font-size: var(--xlc-xs-font-size);
  color: var(--xlc-white);
  line-height: var(--xlc-paragraph-line-height);
  overflow: hidden;
  transition: all var(--xlc-transition-projects-interval);
}
.xlc-projects-list .xlc-all-project .xlc-project-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.xlc-projects-list .xlc-all-project .xlc-project-img::before {
  content: "";
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-image: linear-gradient(to top, rgba(117, 117, 117, 0.88) 0%, rgba(117, 117, 117, 0.869) 8.6%, rgba(117, 117, 117, 0.837) 17.5%, rgba(117, 117, 117, 0.788) 26.5%, rgba(117, 117, 117, 0.726) 35.6%, rgba(117, 117, 117, 0.652) 44.6%, rgba(117, 117, 117, 0.57) 53.3%, rgba(117, 117, 117, 0.484) 61.7%, rgba(117, 117, 117, 0.396) 69.6%, rgba(117, 117, 117, 0.31) 76.9%, rgba(117, 117, 117, 0.228) 83.4%, rgba(117, 117, 117, 0.154) 89%, rgba(117, 117, 117, 0.092) 93.6%, rgba(117, 117, 117, 0.043) 97.1%, rgba(117, 117, 117, 0.011) 99.2%, rgba(117, 117, 117, 0) 100%);
  mix-blend-mode: multiply;
}
.xlc-projects-list .xlc-all-project .xlc-project-img img {
  position: relative;
  z-index: 2;
  opacity: 1;
  height: 100%;
}

.xlc-marcas-list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--xlc-gray);
}
.xlc-marcas-list .xlc-marca {
  width: 25%;
  height: 28.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--xlc-gray);
  border-bottom: 1px solid var(--xlc-gray);
}
.xlc-marcas-list .xlc-marca:nth-child(4n) {
  border-right: none;
}

.xlc-container {
  padding: 0 var(--xlc-grid-lateral-space) 0;
}
.xlc-container > .xlc-grid {
  position: relative;
  z-index: 1;
  padding-top: var(--xlc-section-top-padding);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--xlc-grid-gap);
  align-items: start;
  align-content: start;
}

.xlc-section-vp {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.xlc-multiply-background, .xlc-color-background {
  position: relative;
}
.xlc-multiply-background::after, .xlc-color-background::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.xlc-multiply-background::after {
  background-color: var(--xlc-beige);
  background-blend-mode: multiply;
}

.xlc-color-background {
  background-color: var(--xlc-beige);
}
.xlc-color-background::after {
  mix-blend-mode: luminosity;
  opacity: 0.32;
}

/* #region Index */
.xlc-index-init-section {
  padding-top: var(--xlc-header-height);
  display: flex;
  align-items: center;
}
.xlc-index-init-section .xlc-grid {
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title . . newsletter newsletter newsletter newsletter ." "subtitle subtitle subtitle subtitle subtitle subtitle . newsletter newsletter newsletter newsletter .";
}
.xlc-index-init-section .xlc-grid .xlc-title {
  grid-area: title;
  color: var(--xlc-white);
}
.xlc-index-init-section .xlc-grid .xlc-subtitle {
  grid-area: subtitle;
  color: var(--xlc-white);
}
.xlc-index-init-section .xlc-grid .xlc-newsletter {
  grid-area: newsletter;
}
.xlc-index-init-section::after {
  background-image: url("../img/index/index-init.png");
}

.xlc-index-nosotros-section .xlc-grid {
  grid-template-rows: auto auto auto;
  grid-template-areas: "title title title title title title . . . . . ." "card1 card1 card1 card1 card2 card2 card2 card2 card3 card3 card3 card3" ". . . . . . . . btn btn btn .";
}
.xlc-index-nosotros-section .xlc-grid .xlc-title {
  grid-area: title;
  margin-bottom: 6rem;
}
.xlc-index-nosotros-section .xlc-grid .xlc-enum-card:nth-of-type(1) {
  grid-area: card1;
}
.xlc-index-nosotros-section .xlc-grid .xlc-enum-card:nth-of-type(2) {
  grid-area: card2;
}
.xlc-index-nosotros-section .xlc-grid .xlc-enum-card:nth-of-type(3) {
  grid-area: card3;
}
.xlc-index-nosotros-section .xlc-grid .xlc-orange-btn {
  grid-area: btn;
  justify-self: stretch;
}
.xlc-index-nosotros-section::after {
  background-image: url("../img/index/index-background1.png");
}

.xlc-index-colabora-section {
  background-color: var(--xlc-beige);
}
.xlc-index-colabora-section .xlc-grid {
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "title title title title img1 img1 img1 img1 img2 img2 img2 img2" "description description description description img1 img1 img1 img1 img2 img2 img2 img2" "btn btn btn . img1 img1 img1 img1 img2 img2 img2 img2";
}
.xlc-index-colabora-section .xlc-grid .xlc-title {
  grid-area: title;
  font-size: var(--xlc-xl-font-size);
  line-height: 133px;
}
.xlc-index-colabora-section .xlc-grid .xlc-subtitle {
  grid-area: description;
  margin-bottom: 2.375rem;
}
.xlc-index-colabora-section .xlc-grid .xlc-orange-btn {
  grid-area: btn;
}
.xlc-index-colabora-section .xlc-grid .xlc-img-card:nth-of-type(1) {
  grid-area: img1;
}
.xlc-index-colabora-section .xlc-grid .xlc-img-card:nth-of-type(2) {
  grid-area: img2;
}

.xlc-index-presentacion-section > * {
  width: 100% !important;
  height: 100% !important;
}
.xlc-index-presentacion-section .xlc-video-container {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--xlc-black);
}

.xlc-index-proyectos-section {
  background-color: var(--xlc-beige);
}
.xlc-index-proyectos-section .xlc-grid {
  margin-bottom: 5.5rem;
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title title" "description description description description description description";
}
.xlc-index-proyectos-section .xlc-grid .xlc-title {
  grid-area: title;
}
.xlc-index-proyectos-section .xlc-grid .xlc-subtitle {
  grid-area: description;
}
.xlc-index-proyectos-section .xlc-projects-list {
  margin: 0 calc(0px - var(--xlc-grid-lateral-space));
}

.xlc-index-marcas-section {
  background-color: var(--xlc-beige);
}
.xlc-index-marcas-section .xlc-grid {
  margin-bottom: 5.5rem;
  grid-template-areas: "title title title title title title";
}
.xlc-index-marcas-section .xlc-grid .xlc-title {
  grid-area: title;
}
.xlc-index-marcas-section .xlc-marcas-list {
  margin: 0 calc(0px - var(--xlc-grid-lateral-space));
}

/* #endregion Index */
/* #region Nosotros */
.xlc-nosotros-init-section {
  padding-top: var(--xlc-header-height);
  display: flex;
  align-items: center;
}
.xlc-nosotros-init-section .xlc-grid {
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title ." "subtitle subtitle subtitle subtitle subtitle subtitle";
}
.xlc-nosotros-init-section .xlc-grid .xlc-title {
  grid-area: title;
  color: var(--xlc-white);
}
.xlc-nosotros-init-section .xlc-grid .xlc-subtitle {
  grid-area: subtitle;
  color: var(--xlc-white);
}
.xlc-nosotros-init-section::after {
  background-image: url("../img/nosotros/nosotros-init.png");
}

.xlc-nosotros-info-section .xlc-grid {
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title title . . . . . ." "description description description description description . valores valores valores ods ods ods";
  row-gap: 13rem;
}
.xlc-nosotros-info-section .xlc-grid .xlc-title {
  grid-area: title;
}
.xlc-nosotros-info-section .xlc-grid .xlc-description {
  grid-area: description;
  font-size: var(--xlc-xs-font-size);
  line-height: var(--xlc-paragraph-line-height);
}
.xlc-nosotros-info-section .xlc-grid .xlc-valores {
  grid-area: valores;
}
.xlc-nosotros-info-section .xlc-grid .xlc-valores .xlc-valores-title {
  font-size: var(--xlc-m-font-size);
}
.xlc-nosotros-info-section .xlc-grid .xlc-valores .xlc-valores-list li {
  padding: 1rem 0;
  border-top: 1px solid var(--xlc-gray);
  font-weight: bold;
}
.xlc-nosotros-info-section .xlc-grid .xlc-ods {
  grid-area: ods;
}
.xlc-nosotros-info-section .xlc-grid .xlc-ods .xlc-ods-title {
  font-size: var(--xlc-m-font-size);
}
.xlc-nosotros-info-section .xlc-grid .xlc-ods .xlc-ods-list li {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: var(--xlc-s-font-size);
}
.xlc-nosotros-info-section .xlc-grid .xlc-ods .xlc-ods-list li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.85rem;
  height: 1.85rem;
  margin-right: 0.8rem;
  color: var(--xlc-beige);
  font-weight: bold;
  font-size: var(--xlc-xs-font-size);
  background-color: var(--xlc-black);
  border-radius: 50%;
}
.xlc-nosotros-info-section .xlc-grid .xlc-ods .xlc-ods-info {
  font-weight: lighter;
  font-style: italic;
}
.xlc-nosotros-info-section::after {
  background-image: url("../img/nosotros/nosotros-background1.png");
}

.xlc-nosotros-integrantes-section {
  background-color: var(--xlc-beige);
  padding-bottom: var(--xlc-section-top-padding);
}
.xlc-nosotros-integrantes-section .xlc-grid {
  grid-template-rows: auto auto auto;
  grid-template-areas: "integ1 integ1 integ1 integ1 integ2 integ2 integ2 integ2 integ3 integ3 integ3 integ3" "integ4 integ4 integ4 integ4 integ4 integ4 integ5 integ5 integ5 integ5 integ5 integ5" "integ6 integ6 integ6 integ6 integ6 integ6 integ7 integ7 integ7 integ7 integ7 integ7";
  row-gap: var(--xlc-section-top-padding);
}
.xlc-nosotros-integrantes-section .xlc-grid .xlc-img-card:nth-of-type(1) {
  grid-area: integ1;
}
.xlc-nosotros-integrantes-section .xlc-grid .xlc-img-card:nth-of-type(2) {
  grid-area: integ2;
}
.xlc-nosotros-integrantes-section .xlc-grid .xlc-img-card:nth-of-type(3) {
  grid-area: integ3;
}
.xlc-nosotros-integrantes-section .xlc-grid .xlc-img-card:nth-of-type(4) {
  grid-area: integ4;
}
.xlc-nosotros-integrantes-section .xlc-grid .xlc-img-card:nth-of-type(5) {
  grid-area: integ5;
}
.xlc-nosotros-integrantes-section .xlc-grid .xlc-img-card:nth-of-type(6) {
  grid-area: integ6;
}
.xlc-nosotros-integrantes-section .xlc-grid .xlc-img-card:nth-of-type(7) {
  grid-area: integ7;
}

/* #endregion Nostros */
/* #region Proyectos */
.xlc-proyectos-init-section {
  padding-top: var(--xlc-header-height);
  display: flex;
  align-items: center;
}
.xlc-proyectos-init-section .xlc-grid {
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title ." "subtitle subtitle subtitle subtitle subtitle subtitle";
}
.xlc-proyectos-init-section .xlc-grid .xlc-title {
  grid-area: title;
  color: var(--xlc-white);
}
.xlc-proyectos-init-section .xlc-grid .xlc-subtitle {
  grid-area: subtitle;
  color: var(--xlc-white);
}
.xlc-proyectos-init-section::after {
  background-image: url("../img/proyecto/proyectos-init.png");
}

.xlc-proyectos-info-section .xlc-grid {
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title title . . . . . ." "card1 card1 card1 card1 card2 card2 card2 card2 card3 card3 card3 card3";
}
.xlc-proyectos-info-section .xlc-grid .xlc-title {
  grid-area: title;
  margin-bottom: 20rem;
}
.xlc-proyectos-info-section .xlc-grid .xlc-enum-card:nth-of-type(1) {
  grid-area: card1;
}
.xlc-proyectos-info-section .xlc-grid .xlc-enum-card:nth-of-type(2) {
  grid-area: card2;
}
.xlc-proyectos-info-section .xlc-grid .xlc-enum-card:nth-of-type(3) {
  grid-area: card3;
}
.xlc-proyectos-info-section .xlc-grid .xlc-orange-btn {
  grid-area: btn;
  justify-self: stretch;
}
.xlc-proyectos-info-section::after {
  background-image: url("../img/proyecto/proyectos-background1.png");
}

.xlc-proyectos-lista-section {
  background-color: var(--xlc-beige);
  padding-bottom: 10rem;
}
.xlc-proyectos-lista-section .xlc-grid {
  margin-bottom: 5.5rem;
  grid-template-rows: auto;
  grid-template-areas: "title title title title title title";
}
.xlc-proyectos-lista-section .xlc-grid .xlc-title {
  grid-area: title;
}
.xlc-proyectos-lista-section .xlc-projects-list {
  margin: 0 calc(0px - var(--xlc-grid-lateral-space));
}

/* #endregion Proyectos */
/* #region Cada proyecto */
.xlc-proyecto-init-section {
  padding-top: var(--xlc-header-height);
  padding-bottom: var(--xlc-header-height);
  display: flex;
  align-items: flex-end;
}
.xlc-proyecto-init-section .xlc-grid {
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title ." "subtitle subtitle subtitle subtitle subtitle subtitle";
}
.xlc-proyecto-init-section .xlc-grid .xlc-title {
  grid-area: title;
  color: var(--xlc-white);
}
.xlc-proyecto-init-section .xlc-grid .xlc-subtitle {
  grid-area: subtitle;
  color: var(--xlc-white);
}

.xlc-proyecto-info-section .xlc-grid {
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title title title . . . . . ." "description description description description description description . . descargas descargas descargas descargas";
  padding-bottom: var(--xlc-header-height);
  align-content: stretch;
  height: 100%;
}
.xlc-proyecto-info-section .xlc-grid .xlc-title {
  grid-area: title;
}
.xlc-proyecto-info-section .xlc-grid .xlc-description {
  grid-area: description;
  align-self: end;
  font-size: var(--xlc-xs-font-size);
  line-height: var(--xlc-paragraph-line-height);
}
.xlc-proyecto-info-section .xlc-grid .xlc-descargas {
  grid-area: descargas;
  align-self: end;
  max-height: 100%;
  overflow-y: auto;
}
.xlc-proyecto-info-section .xlc-grid .xlc-descargas .xlc-descarga {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 0;
  border-top: 1px solid var(--xlc-gray);
}
.xlc-proyecto-info-section .xlc-grid .xlc-descargas .xlc-descarga .xlc-descarga-title {
  font-size: var(--xlc-s-font-size);
  font-weight: bold;
}

.xlc-proyecto-destacados-section {
  background-color: var(--xlc-beige);
  padding-top: 9.75rem;
  padding-bottom: 9.75rem;
}
.xlc-proyecto-destacados-section .xlc-grid {
  padding: 2rem 0 2rem;
  border-top: 1px solid var(--xlc-gray);
  grid-template-areas: "title title title . . . description description description description description description";
}
.xlc-proyecto-destacados-section .xlc-grid .xlc-destacado-title {
  grid-area: title;
  font-size: var(--xlc-m-font-size);
  font-weight: bold;
}
.xlc-proyecto-destacados-section .xlc-grid .xlc-destacado-description {
  grid-area: description;
  font-size: var(--xlc-s-font-size);
  line-height: var(--xlc-subtitles-line-height);
}
.xlc-proyecto-destacados-section .xlc-grid:last-of-type {
  padding: 2rem 0 0;
}

.xlc-proyecto-cta-section {
  background-color: var(--xlc-black);
  color: var(--xlc-white);
}
.xlc-proyecto-cta-section .xlc-grid {
  padding-bottom: var(--xlc-section-top-padding);
  grid-template-areas: "title title title . . . . . . . . ." "description description description description description . . . . btn btn btn";
  row-gap: 1rem;
}
.xlc-proyecto-cta-section .xlc-grid .xlc-title {
  grid-area: title;
  font-size: var(--xlc-m-font-size);
}
.xlc-proyecto-cta-section .xlc-grid .xlc-description {
  grid-area: description;
  font-size: var(--xlc-s-font-size);
  line-height: var(--xlc-subtitles-line-height);
}
.xlc-proyecto-cta-section .xlc-grid .xlc-orange-btn {
  grid-area: btn;
}

.xlc-proyecto-more-info-section {
  background-color: var(--xlc-beige);
}
.xlc-proyecto-more-info-section .xlc-grid {
  padding-bottom: var(--xlc-section-top-padding);
  grid-template-areas: "title title title . . . description description description description description description";
}
.xlc-proyecto-more-info-section .xlc-grid .xlc-title {
  grid-area: title;
  font-size: var(--xlc-m-font-size);
}
.xlc-proyecto-more-info-section .xlc-grid .xlc-description {
  grid-area: description;
  font-size: var(--xlc-s-font-size);
  line-height: var(--xlc-subtitles-line-height);
}

/* #endregion Cada proyecto */
.xlc-header {
  position: fixed;
  width: 100%;
  height: var(--xlc-header-height);
  z-index: 4;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(31, 26, 15, 0.67) 0%, rgba(31, 26, 15, 0.661) 0.8%, rgba(31, 26, 15, 0.637) 2.9%, rgba(31, 26, 15, 0.6) 6.4%, rgba(31, 26, 15, 0.552) 11%, rgba(31, 26, 15, 0.496) 16.6%, rgba(31, 26, 15, 0.434) 23.1%, rgba(31, 26, 15, 0.368) 30.4%, rgba(31, 26, 15, 0.302) 38.3%, rgba(31, 26, 15, 0.236) 46.7%, rgba(31, 26, 15, 0.174) 55.4%, rgba(31, 26, 15, 0.118) 64.4%, rgba(31, 26, 15, 0.07) 73.5%, rgba(31, 26, 15, 0.033) 82.5%, rgba(31, 26, 15, 0.009) 91.4%, rgba(31, 26, 15, 0) 100%);
}
.xlc-header .xlc-grid {
  padding-top: 0;
  position: relative;
  z-index: 3;
  margin-top: 1.5rem;
  align-items: center;
  grid-template-areas: "logo logo . . menu1 menu1 menu1 menu1 menu2 menu2 menu2 shop";
}
.xlc-header .xlc-grid .xlc-header-logo {
  grid-area: logo;
}
.xlc-header .xlc-grid .xlc-header-menu1, .xlc-header .xlc-grid .xlc-header-menu2 {
  display: flex;
}
.xlc-header .xlc-grid .xlc-header-menu1 li, .xlc-header .xlc-grid .xlc-header-menu2 li {
  position: relative;
  margin-right: 1rem;
  font-size: var(--xlc-s-font-size);
}
.xlc-header .xlc-grid .xlc-header-menu1 li:last-of-type, .xlc-header .xlc-grid .xlc-header-menu2 li:last-of-type {
  margin: 0;
}
.xlc-header .xlc-grid .xlc-header-menu1 li::after, .xlc-header .xlc-grid .xlc-header-menu2 li::after {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.1s ease-out;
}
.xlc-header .xlc-grid .xlc-header-menu1 li:hover::after, .xlc-header .xlc-grid .xlc-header-menu2 li:hover::after {
  transform: scaleX(1);
}
.xlc-header .xlc-grid .xlc-header-menu1 .current_page_item::after, .xlc-header .xlc-grid .xlc-header-menu2 .current_page_item::after {
  transform: scaleX(1) !important;
}
.xlc-header .xlc-grid .xlc-header-menu1 {
  grid-area: menu1;
}
.xlc-header .xlc-grid .xlc-header-menu1 li a {
  color: var(--xlc-white);
}
.xlc-header .xlc-grid .xlc-header-menu1 li::after {
  background-color: var(--xlc-white);
}
.xlc-header .xlc-grid .xlc-header-menu2 {
  grid-area: menu2;
}
.xlc-header .xlc-grid .xlc-header-menu2 li a {
  color: var(--xlc-orange);
}
.xlc-header .xlc-grid .xlc-header-menu2 li::after {
  background-color: var(--xlc-orange);
}
.xlc-header .xlc-grid .xlc-header-shop {
  grid-area: shop;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.xlc-header .xlc-grid .xlc-header-shop span {
  color: var(--xlc-white);
  font-size: var(--xlc-s-font-size);
}

.slideUp {
  -webkit-transform: translateY(calc(0px - var(--xlc-header-height)));
  transform: translate(0%, calc(0px - var(--xlc-header-height)));
  transition: transform 0.5s ease-out;
}

.slideDown {
  -webkit-transform: translateY(0);
  transform: translate(0%, 0);
  transition: transform 0.5s ease-out;
}

.xlc-footer {
  background-color: var(--xlc-beige);
}
.xlc-footer .xlc-footer-dona, .xlc-footer .xlc-footer-colabora {
  position: relative;
  height: 38rem;
  grid-template-rows: auto auto auto;
  grid-template-areas: "title title title title title title . . . . . ." "description description description description description description . . . . . ." "btn btn btn . . . . . . . . .";
}
.xlc-footer .xlc-footer-dona .xlc-title, .xlc-footer .xlc-footer-colabora .xlc-title {
  position: relative;
  z-index: 1;
  grid-area: title;
  color: var(--xlc-white);
}
.xlc-footer .xlc-footer-dona .xlc-subtitle, .xlc-footer .xlc-footer-colabora .xlc-subtitle {
  position: relative;
  z-index: 1;
  grid-area: description;
  color: var(--xlc-white);
  margin-bottom: 8rem;
}
.xlc-footer .xlc-footer-dona .xlc-orange-btn, .xlc-footer .xlc-footer-colabora .xlc-orange-btn {
  position: relative;
  z-index: 1;
  grid-area: btn;
}
.xlc-footer .xlc-footer-dona::after, .xlc-footer .xlc-footer-colabora::after {
  content: "";
  position: absolute;
  z-index: 0;
  right: calc(0px - var(--xlc-grid-lateral-space));
  left: calc(0px - var(--xlc-grid-lateral-space));
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
}
.xlc-footer .xlc-footer-dona::after {
  background-image: linear-gradient(to bottom, rgba(162, 152, 129, 0.61) 0%, rgba(163, 153, 130, 0.604) 8.6%, rgba(166, 156, 133, 0.586) 17.5%, rgba(170, 160, 138, 0.559) 26.5%, rgba(175, 166, 144, 0.524) 35.6%, rgba(181, 172, 151, 0.483) 44.6%, rgba(188, 179, 158, 0.438) 53.3%, rgba(194, 186, 165, 0.389) 61.7%, rgba(201, 192, 172, 0.341) 69.6%, rgba(207, 199, 178, 0.292) 76.9%, rgba(213, 205, 184, 0.247) 83.4%, rgba(218, 210, 189, 0.206) 89%, rgba(222, 214, 194, 0.171) 93.6%, rgba(225, 217, 197, 0.144) 97.1%, rgba(227, 219, 199, 0.126) 99.2%, rgba(228, 220, 200, 0.12) 100%), url("../img/footer/footer-dona.png");
  background-blend-mode: multiply;
  background-color: var(--xlc-beige);
}
.xlc-footer .xlc-footer-colabora::after {
  background-image: linear-gradient(to bottom, rgba(162, 152, 129, 0.61) 0%, rgba(163, 153, 130, 0.604) 8.6%, rgba(166, 156, 133, 0.586) 17.5%, rgba(170, 160, 138, 0.559) 26.5%, rgba(175, 166, 144, 0.524) 35.6%, rgba(181, 172, 151, 0.483) 44.6%, rgba(188, 179, 158, 0.438) 53.3%, rgba(194, 186, 165, 0.389) 61.7%, rgba(201, 192, 172, 0.341) 69.6%, rgba(207, 199, 178, 0.292) 76.9%, rgba(213, 205, 184, 0.247) 83.4%, rgba(218, 210, 189, 0.206) 89%, rgba(222, 214, 194, 0.171) 93.6%, rgba(225, 217, 197, 0.144) 97.1%, rgba(227, 219, 199, 0.126) 99.2%, rgba(228, 220, 200, 0.12) 100%), url("../img/footer/footer-colabora.png");
  background-blend-mode: multiply;
  background-color: var(--xlc-beige);
}
.xlc-footer .xlc-footer-info {
  grid-template-rows: auto auto;
  grid-template-areas: "links links legal legal legal . newsletter newsletter newsletter newsletter newsletter newsletter" "logo logo ubi ubi ubi ubi rrss rrss copy copy copy copy";
  row-gap: 8rem;
  padding-bottom: 5rem;
  font-size: var(--xlc-s-font-size);
}
.xlc-footer .xlc-footer-info .xlc-links {
  grid-area: links;
}
.xlc-footer .xlc-footer-info .xlc-links li a {
  color: var(--xlc-black);
}
.xlc-footer .xlc-footer-info .xlc-links li.xlc-footer-menu2 a {
  color: var(--xlc-orange);
}
.xlc-footer .xlc-footer-info .xlc-legal-info {
  grid-area: legal;
}
.xlc-footer .xlc-footer-info .xlc-legal-info li a {
  color: var(--xlc-black);
}
.xlc-footer .xlc-footer-info .xlc-newsletter {
  grid-area: newsletter;
}
.xlc-footer .xlc-footer-info .xlc-footer-logo {
  grid-area: logo;
  align-self: flex-end;
  mix-blend-mode: exclusion;
}
.xlc-footer .xlc-footer-info .xlc-ubi-info {
  grid-area: ubi;
  align-self: flex-end;
}
.xlc-footer .xlc-footer-info .xlc-rrss {
  grid-area: rrss;
  align-self: flex-end;
  justify-self: stretch;
  display: flex;
  align-items: center;
}
.xlc-footer .xlc-footer-info .xlc-rrss a {
  margin-right: 1.5rem;
}
.xlc-footer .xlc-footer-info .xlc-rrss a:last-of-type {
  margin-right: 0;
}
.xlc-footer .xlc-footer-info .xlc-copyright {
  grid-area: copy;
  align-self: flex-end;
  justify-self: end;
  font-size: var(--xlc-xs-font-size);
  font-weight: lighter;
}

/*# sourceMappingURL=style.css.map */
