// hay dos tipos de secciones las que ocupan todo el viewport y las normales

.xlc-section-vp {
    width: 100vw;
    height: 100vh;
    max-width:100%;
}

// para usar estas clases hay que poner en el contenedor (xlc-container) un after y poner de background la imagen para aplicar el efecto
.xlc-multiply-background, .xlc-color-background {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.xlc-multiply-background::after { background-color: var(--xlc-beige); background-blend-mode: multiply; }
.xlc-color-background {
    background-color: var(--xlc-beige);

    &::after { mix-blend-mode: luminosity; opacity: .32; }
}

// ---------------------------
// SECCIONES PARA CADA PÃGINAS
// ---------------------------

/* #region Index */
.xlc-index-init-section {
    padding-top: var(--xlc-header-height);
    display: flex;
    align-items: center;

    .xlc-grid {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "title title title title title . . newsletter newsletter newsletter newsletter ."
            "subtitle subtitle subtitle subtitle subtitle subtitle . newsletter newsletter newsletter newsletter .";

        .xlc-title { grid-area: title; color: var(--xlc-white); }
        .xlc-subtitle { grid-area: subtitle; color: var(--xlc-white); }
        .xlc-newsletter { grid-area: newsletter; }
    }

    &::after { background-image: url('../img/index/index-init.png'); }
}

.xlc-index-nosotros-section {
    .xlc-grid {
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "title title title title title title . . . . . ."
            "card1 card1 card1 card1 card2 card2 card2 card2 card3 card3 card3 card3"
            ". . . . . . . . btn btn btn .";

        .xlc-title { 
            grid-area: title; 
            margin-bottom: 6rem;
        }
        .xlc-enum-card:nth-of-type(1) { grid-area: card1; }
        .xlc-enum-card:nth-of-type(2) { grid-area: card2; }
        .xlc-enum-card:nth-of-type(3) { grid-area: card3; }
        .xlc-orange-btn {
            grid-area: btn;
            justify-self: stretch;
        }
    }

    &::after { background-image: url('../img/index/index-background1.png'); }
}

.xlc-index-colabora-section {
    background-color: var(--xlc-beige);
    
    .xlc-grid {
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 
            "title title title title img1 img1 img1 img1 img2 img2 img2 img2"
            "description description description description img1 img1 img1 img1 img2 img2 img2 img2"
            "btn btn btn . img1 img1 img1 img1 img2 img2 img2 img2";

        .xlc-title { 
            grid-area: title;
            font-size: var(--xlc-xl-font-size);
            line-height: 133px;
        }
        .xlc-subtitle {
            grid-area: description;
            margin-bottom: 2.375rem;
        }
        .xlc-orange-btn { grid-area: btn; }
        .xlc-img-card:nth-of-type(1) { grid-area: img1; }
        .xlc-img-card:nth-of-type(2) { grid-area: img2; }
    }
}

.xlc-index-presentacion-section {
    & > * {
        width: 100% !important;
        height: 100% !important;
    }

    .xlc-video-container {
        width: 100% !important;
        height: 100% !important;
        background-color: var(--xlc-black);
    }
}

.xlc-index-proyectos-section {
    background-color: var(--xlc-beige);

    .xlc-grid {
        margin-bottom: 5.5rem;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "title title title title title title"
            "description description description description description description";

        .xlc-title { grid-area: title; }
        .xlc-subtitle { grid-area: description; }
    }

    .xlc-projects-list {
        margin: 0 calc(0px - var(--xlc-grid-lateral-space));
    }
}

.xlc-index-marcas-section {
    background-color: var(--xlc-beige);

    .xlc-grid {
        margin-bottom: 5.5rem;
        grid-template-areas: 
            "title title title title title title";

        .xlc-title { grid-area: title; }
    }

    .xlc-marcas-list {
        margin: 0 calc(0px - var(--xlc-grid-lateral-space));
    }
}
/* #endregion Index */

/* #region Nosotros */
.xlc-nosotros-init-section {
    padding-top: var(--xlc-header-height);
    display: flex;
    align-items: center;

    .xlc-grid {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "title title title title title ."
            "subtitle subtitle subtitle subtitle subtitle subtitle";

        .xlc-title { grid-area: title; color: var(--xlc-white); }
        .xlc-subtitle { grid-area: subtitle; color: var(--xlc-white); }
    }  

    &::after { background-image: url('../img/nosotros/nosotros-init.png'); }
}

.xlc-nosotros-info-section {
    .xlc-grid {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "title title title title title title . . . . . ."
            "description description description description description . valores valores valores ods ods ods";
        row-gap: 13rem;
        
        .xlc-title { grid-area: title; }
        .xlc-description {
            grid-area: description;
            font-size: var(--xlc-xs-font-size);
            line-height: var(--xlc-paragraph-line-height);
        }
        .xlc-valores {
            grid-area: valores;

            .xlc-valores-title { font-size: var(--xlc-m-font-size); }
            .xlc-valores-list li {
                padding: 1rem 0;
                border-top: 1px solid var(--xlc-gray);
                font-weight: bold;
            }
        }
        .xlc-ods {
            grid-area: ods;

            .xlc-ods-title { font-size: var(--xlc-m-font-size); }
            .xlc-ods-list li {
                display: flex;
                align-items: center;
                padding: 1rem 0;
                font-size: var(--xlc-s-font-size);

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1.85rem;
                    height: 1.85rem;
                    margin-right: .8rem;

                    color: var(--xlc-beige);
                    font-weight: bold;
                    font-size: var(--xlc-xs-font-size);

                    background-color: var(--xlc-black);
                    border-radius: 50%; 
                }
            }
            .xlc-ods-info {
                font-weight: lighter;
                font-style: italic;
            }
        }
    }

    &::after { background-image: url('../img/nosotros/nosotros-background1.png'); }
}

.xlc-nosotros-integrantes-section {
    background-color: var(--xlc-beige);
    padding-bottom: var(--xlc-section-top-padding);

    .xlc-grid {
        grid-template-columns: repeat(6, 1fr);
        row-gap: var(--xlc-section-top-padding);

        .xlc-img-card {
            grid-column: span 3;
        }

        .xlc-img-card:nth-child(-n+3) {
            grid-column: span 2;
        }
    }
}

/* #endregion Nostros */

/* #region Proyectos */
.xlc-proyectos-init-section {
    padding-top: var(--xlc-header-height);
    display: flex;
    align-items: center;

    .xlc-grid {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "title title title title title ."
            "subtitle subtitle subtitle subtitle subtitle subtitle";

        .xlc-title { grid-area: title; color: var(--xlc-white); }
        .xlc-subtitle { grid-area: subtitle; color: var(--xlc-white); }
    }  

    &::after { background-image: url('../img/proyecto/proyectos-init.png'); }
}

.xlc-proyectos-info-section {
    .xlc-grid {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "title title title title title title . . . . . ."
            "card1 card1 card1 card1 card2 card2 card2 card2 card3 card3 card3 card3";

        .xlc-title { 
            grid-area: title; 
            margin-bottom: 20rem;
        }
        .xlc-enum-card:nth-of-type(1) { grid-area: card1; }
        .xlc-enum-card:nth-of-type(2) { grid-area: card2; }
        .xlc-enum-card:nth-of-type(3) { grid-area: card3; }
        .xlc-orange-btn {
            grid-area: btn;
            justify-self: stretch;
        }
    }
    
    &::after { background-image: url('../img/proyecto/proyectos-background1.png'); }
}

.xlc-proyectos-lista-section {
    background-color: var(--xlc-beige);
    padding-bottom: 10rem;

    .xlc-grid {
        margin-bottom: 5.5rem;
        grid-template-rows: auto;
        grid-template-areas: 
            "title title title title title title";

        .xlc-title { grid-area: title; }
    }

    .xlc-projects-list {
        margin: 0 calc(0px - var(--xlc-grid-lateral-space));
    }
}

/* #endregion Proyectos */

/* #region Cada proyecto */
.xlc-proyecto-init-section {
    padding-top: var(--xlc-header-height);
    padding-bottom: var(--xlc-header-height);
    display: flex;
    align-items: flex-end;

    .xlc-grid {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "title title title title title ."
            "subtitle subtitle subtitle subtitle subtitle subtitle";

        .xlc-title { grid-area: title; color: var(--xlc-white); }
        .xlc-subtitle { grid-area: subtitle; color: var(--xlc-white); }
    }
}

.xlc-proyecto-info-section {
    .xlc-grid {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "title title title title title title . . . . . ."
            "description description description description description description . . descargas descargas descargas descargas";
        
        padding-bottom: var(--xlc-header-height);
        align-content: stretch;
        height: 100%;
        
        .xlc-title { grid-area: title; }
        .xlc-description {
            grid-area: description;
            align-self: end;
            font-size: var(--xlc-xs-font-size);
            line-height: var(--xlc-paragraph-line-height);
        }
        .xlc-descargas {
            grid-area: descargas;
            align-self: end;
            max-height: 100%;
            overflow-y: auto;

            .xlc-descarga {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 1rem 1rem 0;
                border-top: 1px solid var(--xlc-gray);

                .xlc-descarga-title {
                    font-size: var(--xlc-s-font-size);
                    font-weight: bold;
                }
            }
        }
    }
}

.xlc-proyecto-destacados-section {
    background-color: var(--xlc-beige);
    padding-top: 9.75rem;
    padding-bottom: 9.75rem;

    .xlc-grid {
        padding: 2rem 0 2rem;
        border-top: 1px solid var(--xlc-gray);

        grid-template-areas: 
            "title title title . . . description description description description description description";
        
        .xlc-destacado-title {
            grid-area: title;
            font-size: var(--xlc-m-font-size);
            font-weight: bold;
        }
        .xlc-destacado-description {
            grid-area: description;
            font-size: var(--xlc-s-font-size);
            line-height: var(--xlc-subtitles-line-height);
        }

        &:last-of-type {
            padding: 2rem 0 0;
        }
    }
}

.xlc-proyecto-cta-section {
    background-color: var(--xlc-black);
    color: var(--xlc-white);

    .xlc-grid {
        padding-bottom: var(--xlc-section-top-padding);
        grid-template-areas: 
            "title title title . . . . . . . . ."
            "description description description description description . . . . btn btn btn";
        row-gap: 1rem;

        .xlc-title {
            grid-area: title;
            font-size: var(--xlc-m-font-size);
        }
        .xlc-description {
            grid-area: description;
            font-size: var(--xlc-s-font-size);
            line-height: var(--xlc-subtitles-line-height);
        }
        .xlc-orange-btn { grid-area: btn; }
    }
}

.xlc-proyecto-more-info-section {
    background-color: var(--xlc-beige);

    .xlc-grid {
        padding-bottom: var(--xlc-section-top-padding);
        grid-template-areas: 
            "title title title . . . description description description description description description";
    
        .xlc-title {
            grid-area: title;
            font-size: var(--xlc-m-font-size);
        }
        .xlc-description {
            grid-area: description;
            font-size: var(--xlc-s-font-size);
            line-height: var(--xlc-subtitles-line-height);
        }
    }
}

.xlc-proyecto-gallery-section {
    background-color: var(--xlc-beige);

    .xlc-grid {
        grid-template-areas: 
            "title title title title title title . . . . . ."
            "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery";
        
        .xlc-title {
            grid-area: title;
            font-size: var(--xlc-m-font-size);
        }
        .xlc-gallery-container {
            grid-area: gallery;
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 291.15px;
            column-gap: 2rem;
            row-gap: 2rem;
            justify-items: center;

            .xlc-image {
                height: 291.15px;
                object-fit: contain;
            }
        }
    }
}

.xlc-proyecto-video-section {
    background-color: var(--xlc-beige);
    padding-bottom: 10rem;

    .xlc-grid {
        grid-template-areas: 
            "title title title title title title . . . . . ."
            "video video video video video video video video video video video video";
        
        .xlc-title {
            grid-area: title;
            font-size: var(--xlc-m-font-size);
        }

        .wp-video {
            grid-area: video;
            width: 100% !important;
            height: 100% !important;

            .xlc-video-container {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}

/* #endregion Cada proyecto */